body {
  margin-top: 50px;
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans';
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

.center {
  text-align: center
}

.ptxl {
  padding-top: 80px
}

.navbar-inverse {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
  border-color: #cccccc;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ccc;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
  padding-left: 225px;
  margin-top: 50px;
  }

  #wrapper-login {
  padding-right: 225px;
  }

  #page-wrapper {
  padding: 15px 25px;
  }

  .logo-main {
    margin-top: 40px;
    width: 400px
  }

  /* Side Nav */

  .side-nav>ul {
  margin-left: -225px;
  left: 225px;
  width: 225px;
  position: fixed;
  top: 50px;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: #f3f3f3;
  background-repeat: repeat-x;
  border-right: 1px solid #cccccc;
  overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>ul>li.dropdown>ul.dropdown-menu {
  position: relative;
  min-width: 225px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  }

  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a {
  color: #999999;
  padding: 15px 15px 15px 25px;
  }

  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a:focus {
  color: #fff;
  background-color: #C3C3C3;
  }

  .side-nav>ul>li>a {
  width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #C3C3C3;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
  min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
  white-space: normal;
  }

}

@media (max-width:768px) {
  .logo-main {
    margin-top: 0;
    width: 100%
  }

  #page-wrapper {
    margin-top: 60px;
  }

  .ptxl {
    padding-top: 10px
  }
}
