.form-group
  margin-bottom: 0px

.document-item, .user-item
  border-top: 1px solid #cccccc
  padding: 10px

.highlight
  background-color: yellow
  padding: 4px

.color-blue
  color: #428bca

.no-text-decoration:hover
  text-decoration: none

.input-group
  width: 100%
